@font-face {
	font-family: Helvetica;
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src:
		url(../fonts/helvetica-light.woff2) format('woff2'),
		url(../fonts/helvetica-light.woff) format('woff');
}

@font-face {
	font-family: Helvetica;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		url(../fonts/helvetica-regular.woff2) format('woff2'),
		url(../fonts/helvetica-regular.woff) format('woff');
}

@font-face {
	font-family: Helvetica;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src:
		url(../fonts/helvetica-bold.woff2) format('woff2'),
		url(../fonts/helvetica-bold.woff) format('woff');
}
